*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(31, 29, 29);
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


header{
    background-color: black;
    color: aliceblue;
    font-size: 30px;
}

.container{
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;

}

h2{
    font-size: 16px;
    text-align: left;
    color: aliceblue;
    margin: 5px;
}

button{
    border-color: gold;
    border-radius: 15px;
    background-color: black;
    margin: 15px;
    width: 280px;
    height: 400px;
    

}

.anime-image{
    background-color: brown;
    height: 350px;
    margin-bottom: 10px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    
}

.anime:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}
button.hover{
    transform: scale(1.03);
    transition: all 0.5s ease;
}


.anime-1{
    background-image: url(https://preview.redd.it/alya-sometimes-hides-her-feelings-in-russian-anime-teaser-v0-ui348rix27qb1.png?auto=webp&s=016d3ff9b4dbc01b284c9d03453fe96207dcdbe7);
    
}

.anime-2{
    background-image: url(https://i0.wp.com/anitrendz.net/news/wp-aacontent/uploads/2022/07/shangrilafrontier_visual.jpg?resize=696%2C975&ssl=1);
    margin-bottom: 25px;
}
.clickable {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}

.clickable th{
    padding: 15px;
    text-align: center;
    background-color: #0c0c0c;
    border: 1px solid #444;
}

.clickable th a{
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.clickable th:hover a{
    color: #fff240;
}

.login {
    margin-left: 2000px;
    margin-top: 8px;
    background-color: #f8e801;
    color: #000000;
    padding:6px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    width: auto;
}
.login:hover{
    
    box-shadow: 0 0 20px rgb(255, 251, 5);
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    max-width: 2000px;
    height: auto;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.button2{
    background-color: #f8e801;
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: auto;
}
.button2:hover{
    background-color: #ffee00;
}

.loginForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 30px;
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    color: white;
    border-style: none;
}

.amine {
    font-size: 3em;
    color: #f8e801;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    background: linear-gradient(45deg, #f8e801, #1a1a1a);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    transition: text-shadow 0.3s;
}

.amine:hover {
    text-shadow: 4px 4px 6px rgba(255, 232, 28, 0.8);
}

